spring:
  jpa:
    show-sql: true

  flyway:
    locations: classpath:db/migration

logging:
  level:
    com.devwebsite.backend: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoint:
    health:
      show-details: always
